*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 20px;
    text-align: center;
}

.form-container{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.form-container>div{
    margin: 0px 20px;
}

select{
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #942222;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input{
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 18px;
    padding: 5px 20px;
    border: 1px solid #942222;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 0px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.output-container{
    width: 90%;
    margin: auto;
    margin-top: 40px;
}